<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogDirectory" value="D:\KhaoPiyo_OnlineOrder\Logs" />
    <add key="RestaurantIds" value="MMIDLY-1|ROOTAGE-1|ANGEERA-1" />
    <add key="ConnectionStrings" value="mmidly|rootage|angeera" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <bindings>
      <webHttpBinding >
        <binding name="WCFServiceBinding" maxReceivedMessageSize="250000000" maxBufferSize="250000000" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <security mode="None" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
      
    </bindings>

    <services>
      <service name="KhaoPiyo.Service1">
        <endpoint address="" behaviorConfiguration="WCFServiceBehavior" binding="webHttpBinding" bindingConfiguration="WCFServiceBinding" contract="KhaoPiyo.IService1" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000" />
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="svc-Integrated" />
      <add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory,
System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <remove name="ExtensionlessUrl-Integrated-4.0" />
      <add name="ExtensionlessUrl-Integrated-4.0"
           path="*."
           verb="GET,HEAD,POST,DEBUG,DELETE,PUT"
           type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <!--<connectionStrings><add name="KhaoPiyo_OnlineOrderEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINDOW-MAC-PC;initial catalog=KhaoPiyo_OnlineOrder;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>-->
  <connectionStrings>
    <add name="Rootage" connectionString="data source=WINDOW-MAC-PC;initial catalog=KP_ROOTAGE;UID=sa;PWD=Pranav@6;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Mmidly" connectionString="data source=WINDOW-MAC-PC;initial catalog=KP_MMIDLY;UID=sa;PWD=Pranav@6;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Angeera" connectionString="data source=WINDOW-MAC-PC;initial catalog=KP_ANGEERA;UID=sa;PWD=Pranav@6;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MyDBContext" connectionString="data source=WINDOW-MAC-PC;initial catalog=KhaoPiyo_OnlineOrder;UID=sa;PWD=Pranav@6;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
